/* Estilo general */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Cambiamos el fondo del contenedor a blanco */
    color: #000; /* Cambiamos el color del texto a negro */
}

/* Encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

/* Etiquetas de formulario */
label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #000; /* Cambiamos el color del texto a negro */
}

/* Campos de entrada */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000; /* Cambiamos el borde a negro */
    background-color: #111;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}

.form-input:disabled {
    background-color: #333;
    color: #888;
}

/* Botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;

}

.button:hover {
    background-color: #0056b3;
}

/* División de columnas */
.column {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

/* Limpiar flotantes */
.column::after {
    content: "";
    display: table;
    clear: both;
}

/* Subtítulos */
.subtitulo {
    font-size: 28px;
    margin-top: 20px;
    color: #000;
}

/* Formulario de deducciones */
.form-group {
    margin-bottom: 20px;
}

/* Formulario de nómina */
.form-group:last-child {
    margin-bottom: 0;
}

/* Estilos específicos para botones en el grupo */
.button-group {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para los totales */
.form-input.total {
    font-weight: bold;
    font-size: 20px;
}

/* Fecha de Desembolso */
#fechaDesembolso {
    width: auto;
}

/* Estilos para los encabezados de las tablas (si es necesario) */
th {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Estilos para las filas de las tablas (si es necesario) */
tr {
    background-color: #333;
    color: #fff;
}

/* Estilos para los botones de acción (si es necesario) */
.action-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #0056b3;
}
